@model RestoranProjesi.Models.Sefler

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sefler</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ŞefAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ŞefAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ŞefSoyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ŞefSoyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ŞefNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
