@model RestoranProjesi.Models.Yemekler

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Yemekler</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YemekAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YemekAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Porsiyon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Porsiyon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ŞefAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ŞefAdi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.YemekNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
